* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: #444444;
}

p {
  font-family: 'Lato', Sans-Serif;
  font-size: 20px;
  line-height: 1.7rem;
  margin: 1rem 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: 'Arvo', Serif;
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 3rem;
    margin: 10px 0;
  }

  h2 {
    font-size: 2.25rem;
    margin: 1rem 0;
  }

  h3 {
    font-size: 1.75rem;
    margin: 1rem 0;
  }

  h4 {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
    line-height: 1.125;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.25;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.125rem;
  }
}
