@import '../components/Layout/layout.module.scss';
@import '../components/PostListing/postlisting.module.scss';

.post-layout {
  @extend .layout;

  top: 25vh;
}

.post-container {
  @extend .post-listing-wrapper;

  * {
    max-width: 720px;
  }

  img {
    margin: 3rem 0;
  }

  code[class*='language-'] {
    padding: 0.25rem 0.5rem;
  }
}

.post-meta {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  padding-bottom: 9rem;

  & > * {
    margin: 0 auto;
  }
}
