.header {
  position: fixed;
  width: 100%;
  z-index: 2000;
  top: 0;
  color: #fefefe;
  background-color: #b20303;

  a {
    text-decoration: none;
    color: #fefefe;
    font-weight: bold;
    text-shadow:
      0 -2px 0 #b20303,
      0 -1px 0 #b20303,
      0 0 0 #b20303,
      2px -2px 0 #b20303,
      2px -1px 0 #b20303,
      2px 0 0 #b20303,
      -2px -2px 0 #b20303,
      -2px -1px 0 #b20303,
      -2px 0 0 #b20303,
      1px -2px 0 #b20303,
      1px -1px 0 #b20303,
      1px 0 0 #b20303,
      -1px -2px 0 #b20303,
      -1px -1px 0 #b20303,
      -1px 0 0 #b20303,
      0 -2px 0 #b20303,
      0 -1px 0 #b20303,
      0 0 0 #b20303;
    box-shadow:
      0 -1px 0 0 #b20303 inset,
      0 -2px 0 0 transparent inset;

    &:hover {
      transition: all 0.3s ease-out;
      box-shadow:
        0 -1px 0 0 #b20303 inset,
        0 -2px 0 0 #fefefe inset;
    }
  }
}

.header-wrapper {
  display: flex;
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.header-brand {
  align-self: flex-start;
}

.header-nav {
  margin-left: auto;
}
